@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Black.otf");
    font-weight: 900;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Bold.Italic.otf");
    font-weight: bold;
    font: italic;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.otf");
    font-weight:300;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Hairline.otf");
    font-weight: Hairline;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Heavy.otf");
    font-weight: Heavy;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Heavy.Italic.otf");
    font-weight: Heavy;
    font-style: italic;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Medium.otf");
    font-weight: Medium;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Medium.Italic.otf");
    font-weight: Medium;
    font-style: italic;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/FontFont.FF.Mark.Pro.Black.Commercial.Font-FONT/FontFont_FF.Mark.Pro.Thin.Italic.otf");
    font-weight: Thin;
    font-style: italic;
}
body{
  font-family: 'FF Mark', Arial, sans-serif;
  background:url("../img/valorant-ascent.avif");
  font-weight:lighter;
}
.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}
.col{
   display: table-cell;
}
.bg-valorant-title{
  background: #4d7c76;
  border-bottom: 2px solid rgb(249, 249, 249);
  position: relative;
  font-weight: 900;
}
.bg-valorant-title::before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -2px;
    /* height: 48px; */
    width: 80%;
    border-bottom: 2px solid rgb(131, 131, 131);
}
.modal{
  color:white;
  backdrop-filter: blur(2px);
  --bs-modal-bg: ;
}
.modal-body{
    overflow: hidden!important;
}
.Heavy{
  background-color: rgb(209 209 209 / 27%);
}
.Sniper{
  background-color: rgb(209 209 209 / 27%);

}
.Rifle{
  background-color: rgb(209 209 209 / 27%);

}
.Shotgun{
  background-color: rgb(209 209 209 / 27%);
}
.Sidearm{
  background-color: rgb(209 209 209 / 27%);
}
.SMG{
  background-color: rgb(209 209 209 / 27%);
}
.armor{
  background-color: rgb(209 209 209 / 27%);

}
.btn-close{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(333deg) brightness(106%) contrast(102%)!important;
}
