@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Black.otf");
    font-weight: 900;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Bold.Italic.otf");
    font-weight: bold;
    font: italic;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.otf");
    font-weight:300;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Hairline.otf");
    font-weight: Hairline;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Heavy.otf");
    font-weight: Heavy;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Heavy.Italic.otf");
    font-weight: Heavy;
    font-style: italic;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Medium.otf");
    font-weight: Medium;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/ffMark/FontFont_FF.Mark.Pro.Medium.Italic.otf");
    font-weight: Medium;
    font-style: italic;
}
@font-face {
    font-family: "FF Mark";
    src: url("../fonts/FontFont.FF.Mark.Pro.Black.Commercial.Font-FONT/FontFont_FF.Mark.Pro.Thin.Italic.otf");
    font-weight: Thin;
    font-style: italic;
}
body{
  font-family: 'FF Mark', Arial, sans-serif;
  background:url("../img/valorant-ascent.avif");
  font-weight:lighter;
}
.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}
.col{
   display: table-cell;
}
.bg-valorant-title{
  height: 22px;
  background: #4d7c76;
  border-bottom: 2px solid rgb(249, 249, 249);
  position: relative;
  font-weight: 900;
}
.bg-valorant-title::before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -2px;
    /* height: 48px; */
    width: 80%;
    border-bottom: 2px solid rgb(131, 131, 131);
}
.modal{
  color:white;
  backdrop-filter: blur(2px);
  --bs-modal-bg: ;
}
.modal-body{
    overflow: hidden!important;
}
.Heavy{
  height: 122px;
}
.Sniper{
  height: 133px;
}
.Rifle{
  height: 140px
}
.Shotgun{
  height: 122px;
}
.Sidearm{
}
.SMG{
  height: 133px;
}
.armor{
  height: 284px;
}
.img-gun{
  transform: scaleX(-1);
  margin-top:20px;
  height: auto;
  width: 140px;
  max-width: 100%;
}
.gun{
  background-color: rgb(209 209 209 / 27%);
}
.hover{
cursor: pointer;
background-color:  #3fc697;
}
.btn-close{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(333deg) brightness(106%) contrast(102%)!important;
}
.col-sidearms{
  flex: 0 0 auto;
  width: 10%;
}
